/****************/
/* FONT FAMILY */
/**************/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap");
/***************/
/* COLOR VARS */
/*************/
:root {
  --main-one: rgba(40, 58, 90, 0.9);
  --main-two: #0c3c53;
  --main-three: #37517e;
  --light-one: #fff;
  --light-two: rgba(255, 255, 255, 0.6);
  --light-three: #f3f5fa;
  --light-four: #ddd;
  --dark-one: rgba(127, 137, 161, 0.25);
  --dark-two: #848484;
  --blue-one: #47b2e4;
  --blue-two: #31a9e1;
  --blue-three: #209dd8;
  --green-one: #28a745;
  --green-two: #18d26e;
  --red-one: #ed3c0d;
}
/***********************/
/* GENERAL RESETTINGS */
/*********************/
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(200px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.form-control:focus,
textarea:focus,
input,
input:focus {
  box-shadow: 0 0 0 1px transparent;
}
html {
  scroll-behavior: smooth;
}
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden !important;
  margin-bottom: 8%;
}
/**************/
/* PRELOADER */
/************/
.preloader {
  background: var(--light-one);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
}
.loader-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preloader-dots {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  animation: loadings 1.8s ease-in-out infinite;
}
.preloader-dots:nth-child(0) {
  animation-delay: 0s;
}
.preloader-dots:nth-child(1) {
  animation-delay: 0.2s;
}
.preloader-dots:nth-child(2) {
  animation-delay: 0.4s;
}
.preloader-dots:nth-child(3) {
  animation-delay: 0.6s;
}
.preloader-dots:nth-child(4) {
  animation-delay: 0.8s;
}
@keyframes loadings {
  0%,
  100% {
    background-color: #30ffb7;
    transform: scale(0.2);
  }
  40% {
    transform: scale(1);
    background-color: #07deff;
  }
  50% {
    transform: scale(1);
    background-color: #0761ff;
  }
}
/***********/
/* HEADER */
/*********/
header {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: var(--main-three);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--light-one);
}
/************/
/* NAV BAR */
/**********/
.nav-wrap {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  max-width: 88vw;
  margin: 0 auto;
  z-index: 444;
}
nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
}
.nav-logo {
  display: flex;
  align-items: center;
}
.nav-logo h3 {
  font-size: 2rem;
  font-weight: 600 !important;
}
/* mobile toggle hamburger */
.hamburger {
  display: none;
  cursor: pointer;
  margin-left: 200px;
  transition: all 0.3s ease-in-out;
}
.hamburger div {
  background-color: var(--light-three);
  height: 3px;
  width: 45px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: all 0.4s ease-in-out;
}
.hamburger div:last-child {
  margin-bottom: 0;
}
/* nav links */
.nav-links {
  display: flex;
  transition: all 1s ease-in-out;
}
.nav-links a:visited,
.nav-links a:link {
  padding: 0 0.8rem;
  text-decoration: none;
  color: var(--light-one);
  transition: all 0.3s ease-in-out;
}
.nav-active {
  color: var(--blue-one) !important;
}
.nav-links a:hover {
  color: var(--blue-two);
}
.nav-cta:link,
.nav-cta:visited {
  text-decoration: none;
  color: var(--light-one);
  background: transparent;
  border-radius: 20rem;
  box-shadow: 0 0 0 1.5px var(--blue-two);
  padding: 8px 16px;
  transition: all 0.5s ease-in-out;
}
.nav-cta:hover,
.nav-cta:active {
  background: var(--blue-one);
  color: var(--light-three);
}

/******************************/
/* toggle style called on js */
/****************************/
.nav-toggle .burger-one {
  transform: rotate(-45deg) translate(-2px, 18px);
}
.nav-toggle .burger-two {
  opacity: 0;
}
.nav-toggle .burger-three {
  transform: rotate(45deg) translate(4px, -12px);
}
.nav-toggle.nav-links {
  left: 10%;
}
/*  */
/* nav drop down */
.nav-drop {
  position: relative !important;
}
.drop-links {
  width: 28%;
  position: absolute;
  left: 58%;
  /* top: 80%; */
  top: -3000px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: rgba(51, 98, 160, 0.95);
  padding: 3rem 0;
  transition: all 0.6s ease-in-out;
}
.drop-toggle.drop-links {
  top: 60%;
}
/************************/
/* HERO SECTION STYLES */
/**********************/
.hero-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-first-col {
  animation: fade-in-left 6s ease-in-out;
}
@keyframes fade-in-left {
  0% {
    transform: translateX(-80px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.hero-h2 {
  font-size: 3.2rem;
  font-weight: 800;
}
.hero-h4 {
  opacity: 0.7;
  font-weight: 600;
}
.first-hero-btn:link,
.first-hero-btn:visited {
  background-color: var(--blue-one);
  color: var(--light-one) !important;
  font-size: 1.4rem;
  font-weight: 500;
  padding: 5px 16px !important;
  transition: all 0.4s ease-in-out;
  border: none !important;
}
.first-hero-btn:hover,
.first-hero-btn:active {
  background-color: var(--blue-three) !important;
}
.second-hero-btn:link,
.second-hero-btn:visited {
  color: var(--light-one) !important;
  font-size: 1.3rem;
  font-weight: 500;
  border: none !important;
}
.hero-play-icon {
  font-size: 2rem;
  transition: all 0.5s ease-in-out;
}
.second-hero-btn:hover .hero-play-icon,
.second-hero-btn:active .hero-play-icon {
  color: var(--blue-one);
}
.hero-img {
  animation: upDown 5s ease-in-out infinite alternate-reverse;
}
@keyframes upDown {
  from {
    transform: translateY(-30px);
  }
  to {
    transform: translateY(50px);
  }
}
/*********************/
/* SWIPER SECTION */
/********************/
#logo-swipe {
  padding: 1.5rem 0;
  background: var(--light-four);
}
#logo-swipe .container {
  flex-wrap: wrap !important;
}
.zoom-up.logo-swipe-container {
  animation: zoom-in-up 2s ease-in-out;
}
@keyframes zoom-in-up {
  0% {
    opacity: 0;
    transform: translateY(88px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
#logo-swipe img {
  height: 40px;
  filter: grayscale(1);
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
#logo-swipe img:hover {
  transform: scale(1.15);
  filter: grayscale(0);
}
/******************/
/* ABOUT SECTION */
/****************/
#about {
  margin-top: 6rem;
}
.about-section-h2 {
  font-size: 3.2rem;
  font-weight: 700;
  font-family: "Jost", sans-serif;
  color: var(--main-three);
}
.anime-about.about-container {
  animation: moveInBottom 2s ease-in-out;
}
.about-inner-text {
  font-size: 1rem;
}
.about-icon {
  color: var(--blue-one);
  font-size: 1.2rem;
}
.about-section-col1-paragraph {
  font-size: 1.2rem;
}
.about-col2-second-paragraph {
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.2px;
  opacity: 0.9;
}
.about-btn:link,
.about-btn:visited {
  border: 0 !important;
  box-shadow: 0 0 0 2px var(--blue-two);
  border-radius: 8px;
  color: var(--blue-two);
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}
.about-btn:hover,
.about-btn:active {
  background: var(--blue-two) !important;
  color: var(--light-three) !important;
}
/*********************/
/********************/
/*******************/
/******************/
/* MEDIA SCREENS */
/****************/
@media screen and (max-width: 991px) {
  .drop-toggle.drop-links {
    top: 15%;
  }
  .hamburger {
    display: block;
  }
  .nav-links {
    flex-direction: column;
    align-items: center;
    gap: 12px;
    position: fixed;
    background: rgba(51, 98, 160, 0.95);
    color: var(--main-three) !important;
    border-radius: 8px;
    left: 4000px;
    right: 10%;
    padding: 1.8rem 0;
    top: 20%;
    z-index: 999;
  }
  .hero-h2 {
    font-size: 2.4rem;
    margin-top: -12%;
  }
  .hero-first-col {
    margin-bottom: 3rem;
  }
  .hero-btn-row {
    justify-content: center;
  }
}
/* 576 */
@media screen and (max-width: 576px) {
  header {
    height: 120vh;
  }
  .hamburger {
    margin-left: 50px;
  }
  .nav-cta {
    display: none;
  }
  .hero-btn-row {
    flex-direction: column;
  }
}
/* 476 */

/* 375 */
@media screen and (max-width: 376px) {
  nav {
    padding: 0.3rem 0;
  }
  .hero-h2 {
    font-size: 1.8rem;
    margin-top: 30%;
  }
}
